<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="sort_component">
<div class="row mt-5 mb-2 sortResultSearch">
    <div class="col-lg-3 col-md-5 col-sm-4 col-6">
        <select class="form-control">
            <option selected>По дате</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-4 col-6">
        <select class="form-control">
            <option selected>За все время</option>
            <option>...</option>
        </select>
    </div>
</div>
</th:block>
</body>
</html>



